<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="conexionBD" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlACAAPQAgAEMAUgBJAFMAVABJAEEATgBcAFMAUQBMAEUAWABQAFIARQBTAFMADQAKACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAA7ACAASQBuAGkAdABpAGEAbAAgAEMAYQB0AGEAbABvAGcAIAA9ACAAUwBlAHIAdgBpAGMAaQBvAF8AUABhAHEAdQBlAHQAZQByAGkAYQA7AA0ACgAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAUABlAHIAcwBpAHMAdAAgAFMAZQBjAHUAcgBpAHQAeQAgAGkAbgBmAG8AIAA9ACAAdAByAHUAZQA7ACAAdQBzAGUAcgAgAGkAZAAgAD0AIAB1AHMAcgBfAFAAYQBxAHUAZQB0AGUAcgBpAGEAOwAgAHAAYQBzAHMAdwBvAHIAZAA9ACAAMQAyADMANAA1ADYANwA4ADsA"/>
        <add key="nombreUsuarioCorreo" value="crpaqueteria@gmail.com"/>
        <add key="contrasenaCorreo" value="zlac lpkx lprl kfuy"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
